<div class="Reservation">
    <div class="animated fadeIn">
        <div class="row">
            <div class="">
                <div class="reservation-card card">
                    <div class="card-header">
                        <strong>Tickets reservation for {{reserv?.eventName}}</strong>
                    </div>
                    <form [formGroup]="reservationForm" (ngSubmit)="checkOut()">
                        <div class="card-body">
                            <label><h2>Contact information :</h2></label>
                            <div class="row">
                                <div class="col-4 form-group">
                                    <input type="text" class="form-control" placeholder="First Name"
                                        formControlName="firstName"
                                        [ngClass]="{ 'is-invalid': submitted && reservationForm.controls.firstName.errors, 'is-valid': submitted && !reservationForm.controls.firstName.errors }">
                                    <div class="invalid-feedback d-block"
                                        *ngIf="submitted && reservationForm.controls.firstName.hasError('required')">
                                        first Name is required.
                                    </div>
                                </div>
                                <div class="col-4 form-group">
                                    <input type="text" class="form-control" placeholder="Last Name"
                                        formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && reservationForm.controls.lastName.errors,
                                                'is-valid': submitted && !reservationForm.controls.lastName.errors }">
                                    <div class="invalid-feedback d-block"
                                        *ngIf="submitted && reservationForm.controls.lastName.hasError('required')">
                                        Last Name is required.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 form-group">
                                    <input type="email" class="form-control" placeholder="E-mail"
                                        formControlName="email" [ngClass]="{ 'is-invalid': submitted && reservationForm.controls.email.errors,
                                                'is-valid': submitted && !reservationForm.controls.email.errors }">
                                    <div class="invalid-feedback d-block"
                                        *ngIf="submitted && reservationForm.controls.email.hasError('required')">
                                        E-mail is required.
                                    </div>
                                    <div class="invalid-feedback d-block"
                                        *ngIf="submitted && reservationForm.controls.email.hasError('email')">
                                        Invalid E-mail.
                                    </div>
                                </div>
                            </div>
                            <label><h2>Payment method :</h2></label>
                            <div>
                                
                            </div>
                            <div>
                                <button class="btn btn-success mb-3" type="button" (click)="addRow()"><i
                                        class="fa fa-plus"></i> Add Ticket</button>
                                <div formArrayName="tickets">
                                    <div *ngFor="let group of getTickets.controls; let i=index">
                                        <div [formGroupName]="i">
                                            <label><h4> Person {{i+1}}. </h4></label>
                                            <div class="row">
                                                <div class="form-group col-4">
                                                    <input class="form-control" formControlName="reservedfName" type="text"
                                                        placeholder="First Name"
                                                        [ngClass]="{'is-invalid': submitted && getTickets.controls[i].get('reservedfName')?.errors, 'is-valid': submitted && !getTickets.controls[i].get('reservedfName')?.errors }">
                                                    <div class="invalid-feedback d-block"
                                                        *ngIf="submitted && getTickets.controls[i].get('reservedfName')?.errors?.required">
                                                        First Name is required.
                                                    </div>
                                                </div>
                                                <div class="form-group col-4">
                                                    <input class="form-control" formControlName="reservedlName" type="text"
                                                        placeholder="Last Name"
                                                        [ngClass]="{'is-invalid': submitted && getTickets.controls[i].get('reservedlName')?.errors, 'is-valid': submitted && !getTickets.controls[i].get('reservedlName')?.errors }">
                                                    <div class="invalid-feedback d-block"
                                                        *ngIf="submitted && getTickets.controls[i].get('reservedlName')?.errors?.required">
                                                        Last Name is required.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-8">
                                                    <input class="form-control" formControlName="reservedEmail" type="email"
                                                        placeholder="E-mail"
                                                        [ngClass]="{'is-invalid': submitted && getTickets.controls[i].get('reservedEmail')?.errors, 'is-valid': submitted && !getTickets.controls[i].get('reservedEmail')?.errors }">
                                                    <div class="invalid-feedback d-block"
                                                        *ngIf="submitted && getTickets.controls[i].get('reservedEmail')?.errors?.required">
                                                        E-mail is required.
                                                    </div>
                                                    <div class="invalid-feedback d-block"
                                                        *ngIf="submitted && getTickets.controls[i].get('reservedEmail')?.errors?.email">
                                                        Invalid E-mail.
                                                    </div>
                                                </div>
                                                <button class="btn btn-rounded btn-sm btn-pill btn-danger col-1" style="
                                                margin-bottom: 10px;
                                                bottom: 25px;" type="button" (click)="removeRow(i)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <button type="button" class="btn btn-secondary" [routerLink]="['/home/events/event-details/', reserv?._id]" style="margin: 10px 30px;">
                                <i class="fa fa-chevron-circle-left"></i> Cancel</button>
                            <button type="submit" class="btn btn-primary float-right" style="margin: 10px 30px;">
                                <i class="fa fa-chevron-circle-right"></i> checkOut</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>