<div class="Reservation">
    <div class="animated fadeIn">
        <div class="row">
            <div class="">
                <div class="reservation-card card">
                    <div class="card-header">
                        <strong>Tickets reservation for {{reserv?.eventName}}</strong>
                    </div>
                    <form [formGroup]="reservationForm" (ngSubmit)="checkOut()">
                        <div class="card-body">
                            <label><h2>Contact information :</h2></label>
                            <div class="row">
                                <div class="col-4 form-group">
                                    <input type="text" class="form-control" placeholder="First Name"
                                        formControlName="firstName"
                                        [ngClass]="{ 'is-invalid': submitted && reservationForm.controls.firstName.errors, 'is-valid': submitted && !reservationForm.controls.firstName.errors }">
                                    <div class="invalid-feedback d-block"
                                        *ngIf="submitted && reservationForm.controls.firstName.hasError('required')">
                                        first Name is required.
                                    </div>
                                </div>
                                <div class="col-4 form-group">
                                    <input type="text" class="form-control" placeholder="Last Name"
                                        formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && reservationForm.controls.lastName.errors,
                                                'is-valid': submitted && !reservationForm.controls.lastName.errors }">
                                    <div class="invalid-feedback d-block"
                                        *ngIf="submitted && reservationForm.controls.lastName.hasError('required')">
                                        Last Name is required.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-8 form-group">
                                    <input type="email" class="form-control" placeholder="E-mail"
                                        formControlName="email" [ngClass]="{ 'is-invalid': submitted && reservationForm.controls.email.errors,
                                                'is-valid': submitted && !reservationForm.controls.email.errors }">
                                    <div class="invalid-feedback d-block"
                                        *ngIf="submitted && reservationForm.controls.email.hasError('required')">
                                        E-mail is required.
                                    </div>
                                    <div class="invalid-feedback d-block"
                                        *ngIf="submitted && reservationForm.controls.email.hasError('email')">
                                        Invalid E-mail.
                                    </div>
                                </div>
                            </div>
                            <label><h2>Payment method :</h2></label>
                            <div>
                                
                            </div>
                            <div>
                                <button class="btn btn-success mb-3" type="button" (click)="addRow()"><i
                                        class="fa fa-plus"></i> Add Ticket</button>
                                <div formArrayName="tickets">
                                    <div *ngFor="let group of getTickets.controls; let i=index">
                                        <div [formGroupName]="i">
                                            <label><h4> Person {{i+1}}. </h4></label>
                                            <div class="row">
                                                <div class="form-group col-4">
                                                    <input class="form-control" formControlName="reservedfName" type="text"
                                                        placeholder="First Name"
                                                        [ngClass]="{'is-invalid': submitted && getTickets.controls[i].get('reservedfName')?.errors, 'is-valid': submitted && !getTickets.controls[i].get('reservedfName')?.errors }">
                                                    <div class="invalid-feedback d-block"
                                                        *ngIf="submitted && getTickets.controls[i].get('reservedfName')?.errors?.required">
                                                        First Name is required.
                                                    </div>
                                                </div>
                                                <div class="form-group col-4">
                                                    <input class="form-control" formControlName="reservedlName" type="text"
                                                        placeholder="Last Name"
                                                        [ngClass]="{'is-invalid': submitted && getTickets.controls[i].get('reservedlName')?.errors, 'is-valid': submitted && !getTickets.controls[i].get('reservedlName')?.errors }">
                                                    <div class="invalid-feedback d-block"
                                                        *ngIf="submitted && getTickets.controls[i].get('reservedlName')?.errors?.required">
                                                        Last Name is required.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-8">
                                                    <input class="form-control" formControlName="reservedEmail" type="email"
                                                        placeholder="E-mail"
                                                        [ngClass]="{'is-invalid': submitted && getTickets.controls[i].get('reservedEmail')?.errors, 'is-valid': submitted && !getTickets.controls[i].get('reservedEmail')?.errors }">
                                                    <div class="invalid-feedback d-block"
                                                        *ngIf="submitted && getTickets.controls[i].get('reservedEmail')?.errors?.required">
                                                        E-mail is required.
                                                    </div>
                                                    <div class="invalid-feedback d-block"
                                                        *ngIf="submitted && getTickets.controls[i].get('reservedEmail')?.errors?.email">
                                                        Invalid E-mail.
                                                    </div>
                                                </div>
                                                <button class="btn btn-rounded btn-sm btn-pill btn-danger col-1" style="
                                                margin-bottom: 10px;
                                                bottom: 25px;" type="button" (click)="removeRow(i)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <button type="button" class="btn btn-secondary" [routerLink]="['/home/events/event-details/', reserv?._id]" style="margin: 10px 30px;">
                                <i class="fa fa-chevron-circle-left"></i> Cancel</button>
                            <button type="submit" class="btn btn-primary float-right" style="margin: 10px 30px;">
                                <i class="fa fa-chevron-circle-right"></i> checkOut</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="row">
    <div class="form-group col-sm-2">
        <label for="ticket">Select nember of ticket</label>
        <select class="form-control" id="ticket">
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
            <option value="">6</option>
            <option value="">7</option>
            <option value="">8</option>
            <option value="">9</option>
            <option value="">10</option>
        </select>
    </div>
</div> -->
<!-- <div class="row float-right">
    <div class="ticket-page--order-summary-container">
        <div class="pane-order-summary eds-g-cell eds-g-cell-12-12 eds-g-cell-sw-10-12 eds-g-offset-sw-1-12 eds-l-mar-bot-10 eds-l-pad-bot-10 eds-l-sn-mar-top-12 eds-l-sm-mar-top-12 eds-l-sw-mar-top-12 eds-l-sn-pad-hor-4 eds-l-sm-pad-hor-6 eds-l-sw-pad-hor-6 eds-l-mar-top-6"
            data-spec="pane-order-summary">
            <div class="eds-order-summary eds-text-bs--fixed" role="grid">
                <div>
                    <div class="eds-l-mar-bot-6">
                        <div class="eds-order-summary-title eds-g-cell eds-g-cell-12-12 eds-text-bm--fixed eds-text-color--grey-900"
                            role="gridcell">
                            <h4>Order summary</h4>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="eds-g-group eds-l-mar-vert-4 eds-text-color--grey-700"
                        role="row">
                        <div class="eds-g-cell eds-g-cell-6-12" role="gridcell"><span
                                class="eds-text-bm--fixed eds-text-color--grey-800">1 x General
                                Admission</span></div>
                        <div class="eds-g-cell eds-g-cell-6-12 eds-text--right" role="gridcell">
                            <span
                                class="eds-text-bm--fixed eds-text-color--grey-800">$20.00</span>
                        </div>
                    </div>
                </div>
                <hr class="eds-divider__hr eds-bg-color--ui-200 eds-divider--horizontal"
                    data-spec="divider-hr" aria-hidden="true">
                <div>
                    <div class="eds-g-group eds-text-color--grey-700 eds-l-mar-top-4"
                        role="row">
                        <div class="eds-g-cell eds-g-cell-6-12" role="gridcell"><span
                                class="eds-text-bm--fixed">
                                <h4>Delivery</h4>
                            </span>
                            <p class="eds-text-color--grey-600 eds-text-bs--fixed"><span
                                    class="eds-g-cell eds-g-cell-1-1">1 x eTicket</span></p>
                        </div>
                        <div class="eds-g-cell eds-g-cell-6-12 eds-text--right" role="gridcell">
                            <span class="eds-text-bm--fixed">$0.00</span>
                        </div>
                    </div>
                    <div class="eds-l-mar-top-4">
                        <hr class="eds-divider__hr eds-bg-color--ui-200 eds-divider--horizontal"
                            data-spec="divider-hr" aria-hidden="true">
                    </div>
                </div>
                <div class="eds-g-group eds-l-mar-vert-4" role="row">
                    <div class="eds-g-cell eds-g-cell-6-12" role="gridcell"><span
                            class="eds-text-weight--heavy eds-text-bl--fixed eds-text-color--ui-800">
                            <h3>Total</h3>
                        </span>
                    </div>
                    <div class="eds-g-cell eds-g-cell-6-12 eds-text--right" role="gridcell">
                        <span class="eds-text-bm--fixed"><span
                                class="eds-text--uppercase eds-text-color--ui-600"></span>&nbsp;<span
                                class="eds-text-weight--heavy eds-text-bl--fixed eds-text-color--ui-800">$20.00</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- <div class="row">
    <fieldset class="form-group">
        <h3>Contact information</h3>
        <div class="input-group">
            <form class="modal-body" [formGroup]="reservationForm">
                <div class="form-group">
                    <label for="firstName"> First name:</label>
                    <input type="text" class="form-control" id="Name"
                        placeholder="Enter your name">
                    <div class="invalid-feedback d-block">
                        <div
                            *ngIf="submitted && reservationForm.controls.firstName.hasError('required')">
                            First name is
                            required.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName"> last name:</label>
                    <input type="text" class="form-control" id="Name"
                        placeholder="Enter your last name" formControlName="lastName">
                    <div class="invalid-feedback d-block">
                        <div
                            *ngIf="submitted && reservationForm.controls.lastName.hasError('required')">
                            last name is
                            required.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" id="email" name="email" class="form-control"
                        placeholder="Eg: example@mail.com" autocomplete="email"
                        formControlName="email">
                    <div class="invalid-feedback d-block"
                        *ngIf="submitted && reservationForm.controls.email.hasError('required')">
                        E-mail is required.
                    </div>
                    <div class="invalid-feedback d-block"
                        *ngIf="submitted && reservationForm.controls.email.hasError('email')">
                        Invalid e-mail.
                    </div>
                </div>
                <div class="row">
                    <fieldset class="form-group row">
                        <h3>Payment method</h3>
                        <div class="col-md-9 col-form-label">
                            <div class="form-check form-check-inline mr-1" id="inline-radios">
                                <input class="form-check-input" type="radio"
                                    name="inline-radios" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">Free</label>
                            </div>
                            <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" type="radio"
                                    name="inline-radios" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">Payed</label>
                            </div>
                        </div>
                        <div class="col-md-9 col-form-label">
                            <div class="form-check form-check-inline mr-1" id="inline-radios">
                                <input class="form-check-input" type="radio"
                                    name="inline-radios" id="inlineRadio1" value="option1">
                                <label class="form-check-label" for="inlineRadio1">Credit/Debit
                                    card <i class="fa fa-credit-card "></i></label>
                            </div>
                            <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" type="radio"
                                    name="inline-radios" id="inlineRadio2" value="option2">
                                <label class="form-check-label" for="inlineRadio2">Paypal <i
                                        class="fa fa-cc-paypal "></i></label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </form>
        </div>
    </fieldset>
</div> -->