.Reservation {
    width: 100%;
    min-height: 750px;
    background: url("/assets/img/Background-image/pexels-wendy-wei-1805895.jpg") top center;
    background-size: cover;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    
}

.reservation-card {
    margin-top: 100px;
    width: 750px;
    background:rgba(255, 255, 255, 0.836);
}


