<div class="animated fadeIn">
    <div class="container row">
        <div class="offset-3 col-6 ">
            <div class="card">
                <div class="card-body">
                    <form [formGroup]="eventForm" (ngSubmit)="AddEvent()">
                        <div class="form-group">
                            <label>Event Name :</label>
                            <input type="text" class="form-control" placeholder="Enter your event name" formControlName="eventName"
                                [ngClass]="{'is-invalid': submitted && eventForm.controls.eventName.errors, 'is-valid': submitted && !eventForm.controls.eventName.errors}">
                            <div class="invalid-feedback d-block">
                                <div *ngIf="submitted && eventForm.controls.eventName.hasError('required')">
                                    Event Name is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Event Description :</label>
                            <textarea class="form-control" placeholder="Type your Event description here"
                                formControlName="eventDescription"
                                [ngClass]="{'is-invalid': submitted && eventForm.controls.eventDescription.errors, 'is-valid': submitted && !eventForm.controls.eventDescription.errors}"></textarea>
                            <div class="invalid-feedback d-block">
                                <div *ngIf="submitted && eventForm.controls.eventDescription.hasError('required')">
                                    Event Description is required.</div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 col-form-label">Event's Type :</label>
                            <div class="col-md-8 col-form-label">
                                <div class="form-check form-check-inline " id="inline-radios">
                                    <input class="form-check-input" type="radio" formControlName="eventType"
                                        value="Free">
                                    <label>Free</label>
                                </div>
                                <div class="form-check form-check-inline ">
                                    <input class="form-check-input" type="radio" formControlName="eventType"
                                        value="Paid">
                                    <label>Paid</label>
                                </div>
                                <div class="invalid-feedback d-block"
                                    *ngIf="submitted && eventForm.controls.eventType.hasError('required')">
                                    Event's Type is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Price :</label>
                            <div class="input-group">
                                <input type="number" class="form-control" placeholder="Price" formControlName="price"
                                [ngClass]="{'is-invalid': submitted && eventForm.controls.price.errors, 'is-valid': submitted && !eventForm.controls.price.errors}">
                                <span class="input-group-prepend"><span class="input-group-text">TND</span></span>
                            </div>
                            <div class="invalid-feedback d-block">
                                <div *ngIf="submitted && eventForm.controls.price.hasError('required')">
                                    Price is required.
                                </div>
                                <div *ngIf="submitted && eventForm.controls.price.hasError('min')">
                                    Price is invalid.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Ticket Number</label>
                            <input type="number" class="form-control" placeholder="" formControlName="availableTicketNumber"
                            [ngClass]="{'is-invalid': submitted && eventForm.controls.availableTicketNumber.errors, 'is-valid': submitted && !eventForm.controls.availableTicketNumber.errors}">
                            <div class="invalid-feedback d-block">
                                <div *ngIf="submitted && eventForm.controls.availableTicketNumber.hasError('required')">
                                    Ticket's Number is required.
                                </div>
                                <div *ngIf="submitted && eventForm.controls.availableTicketNumber.hasError('min')">
                                    Ticket's Number is invalid.
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Event's Location</label>
                            <input type="text" class="form-control" placeholder="Ex. Online Or your Address" formControlName="location"
                            [ngClass]="{'is-invalid': submitted && eventForm.controls.location.errors, 'is-valid': submitted && !eventForm.controls.location.errors}">
                            <div class="invalid-feedback d-block">
                                <div *ngIf="submitted && eventForm.controls.location.hasError('required')">
                                    Event's Location is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label>Event Started In : </label>
                            <div class="col-md-6">
                              <input type="text" #dp="bsDatepicker" class="form-control" [minDate]="minDate" bsDatepicker [(bsValue)]="bsValue" formContrilName="starDateTime"
                              [ngClass]="{'is-invalid': submitted && eventForm.controls.starDateTime.errors, 'is-valid': submitted && !eventForm.controls.starDateTime.errors}">
                            </div>
                            <div class="invalid-feedback d-block">
                                <div *ngIf="submitted && eventForm.controls.starDateTime.hasError('required')">
                                    Event start time is required.
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label>Event Ended In : </label>
                            <div class="col-md-6">
                              <input type="text" #dp="bsDatepicker" class="form-control" [minDate]="minDate" bsDatepicker [(bsValue)]="bsValue" formContrilName="endDateTime"
                              [ngClass]="{'is-invalid': submitted && eventForm.controls.endDateTime.errors, 'is-valid': submitted && !eventForm.controls.endDateTime.errors}">
                            </div>
                            <div class="invalid-feedback d-block">
                                <div *ngIf="submitted && eventForm.controls.endDateTime.hasError('required')">
                                    Event end time is required.
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Add event</button>
                        <button type="button" class="btn btn-danger btn-block" routerLink="/events">Cancel</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>