<div class="card-container">
    <div class="card-image-container">
        <p class="card-text-name">
            first event
        </p>
    </div>
    <div class="card-text-container">
        <div class="card-Event-info-container">
            <p class="card-text-description">
                this event will be idc
            </p>
            <p class="card-text-date">
                    20/03/2021
            </p>
            <p class="card-text-price">
                500Dt
            </p>
        </div>
        <a href="#" class="card-event-button" > see event</a>
    </div>
</div>
