<div bsModal #modal="bs-modal" class="modal right fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{modalTitle}}</h4>
                <button type="button" class="close" (click)="hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="tagForm" (ngSubmit)="addTag()">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="name">Tag title</label>
                        <input type="text" class="form-control" placeholder="Name" formControlName="title" [ngClass]="{ 'is-invalid': submitted && tagForm.controls.title.errors,
                '   is-valid': submitted && !tagForm.controls.title.errors }">
                        <div class="invalid-feedback d-block"
                            *ngIf="submitted && tagForm.controls.title.hasError('required')">
                            Tag name is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Tag description</label>
                        <textarea type="text" class="form-control" placeholder="Description..."
                            formControlName="description" [ngClass]="{ 'is-invalid': submitted && tagForm.controls.description.errors,
                    'is-valid': submitted && !tagForm.controls.description.errors }">
                    </textarea>
                        <div class="invalid-feedback d-block"
                            *ngIf="submitted && tagForm.controls.description.hasError('required')">
                            Tag description is required.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="hide()">Close</button>
                    <button type="button" class="btn btn-primary" (click)="updateTag()" *ngIf="showUpdateButton">Save
                        changes</button>
                    <button type="submit" class="btn btn-primary" *ngIf="!showUpdateButton">Save </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Tag</strong>
                    <small>list</small>
                </div>
                <div class="card-body">
                    <div class="offset-1 my-3 row">
                        <div class="col-12">
                            <button class="btn btn-success col-1.5 float-right" data-toggle="modal"
                                (click)="showAdd()"><i class="fa fa-plus"></i> Add tag</button>
                            
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-4 offset-md-8">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fa fa-search"></i></span>
                            </div>
                            <input type="search" class="form-control" placeholder="Search tag"  [(ngModel)]="searchText">
                          </div>
                        </div>
                      </div>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Tag name</th>
                                <th scope="col">Description</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="" *ngFor="let tag of listTagsTodo | searchpipe: searchText ;let i=index">
                                <td>{{i+1}}</td>
                                <td>{{tag.title}}</td>
                                <td>{{tag.description}}</td>
                                <td>
                                    <button type="button" class="btn btn-warning" data-toggle="modal"
                                        (click)="showUpdate(tag._id)">
                                        <i class="fa fa-edit"></i> Update
                                    </button>
                                    <button type="button" class="btn btn-danger text-dark" (click)='delete(tag._id)'><i
                                            class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!--/.row-->
            </div>
        </div>
    </div>
</div>