<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-info">
        <div class="card-body pb-0">
          <div class="text-value">{{Count?.eventcount}}</div>
          <div>Events available</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="text-value">{{Count?.tagcount}}</div>
          <div>Tags available</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-warning">
        <div class="card-body pb-0">
          <div class="text-value">{{Count?.companycount}}</div>
          <div>Companies available</div>
        </div>
        <div class="chart-wrapper mt-3" style="height:70px;">
          
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-6 col-lg-3">
      <div class="card text-white bg-danger">
        <div class="card-body pb-0">
          <div class="text-value">{{Count?.reservationcount}}</div>
          <div>Event reservation created</div>
        </div>
        <div class="chart-wrapper mt-3 mx-3" style="height:70px;">
          
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
  <div class="card">
    <div class="card-body">
      <div class="background-dashboard">
        <img src="../../../assets/img/Background-image/background-dashboard.jpg" class="img img-fluid" alt="">
      </div>      
    </div>
  </div> 
</div>
